/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header{
  background-image: url("../images/header.jpg");
  background-size:cover;
  height: 1000px;
  display: flex;
  justify-content: center;
}


header h1, p{
  color: #465065;
}

.debut{
  padding-top: 300px;
  z-index: 1;
  padding-left: 130px;
}


nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-transform: uppercase;

}

li{
  padding:15px;
}

main{
  width:940px;
  max-width: 100%;
  margin: 40px auto 0;

}

.conteneur{
  display: flex;
}

h2{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}

.premiere{
  margin-right: 25px;
}

/*css 2eme div en bas*/

.element{
  display: flex;
  margin-top: 80px;
}

.portfolio{
  margin-left: 60px;
  margin-top: 45px;
}

/* CSS 3em div en bas*/
.notitle{
  display: flex;
  margin:40px 0 100px;
  ma
}

.colonne{
  display: flex;
}

.colonne p{
  font-size: 14px;
}

.colonne img{
  border-radius: 50%;
}

article{
  /*background-color: red;*/
  padding-left: 5px;

  margin: 0 5px;
  width: 170px;
}


/* css footer en bas*/

footer{
  color: #b9c0c6;
  height: 100px;
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;

}

.icon :nth-child(1), :nth-child(2), :nth-child(3) {
  padding-right: 15px;
}
.fa-instagram{
  color: black;
}

/*CSS des titres et after et before*/

h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  padding-top: 30px;
}

h1::before{
  content:"";
  position: absolute;
  width: 56px;
  border-top: 8px solid red;
  top: 10px;
}

h1 + p{
  position: relative;
}

h1 + p:after{
  content: "Read more";
  position: absolute;
  background-color: Red;
  width: 140px;
  color: white;
  top: 60px;
  left: 0;
  text-align: center;
  padding: 25px;
  border-radius: 5%;

}




h2, h3{
  color: #465065;
  font-weight: bold;
}

.portfolio > p {
  color: #465065;
}

.portfolio :nth-child(3){
  color: #9aa0ab;
}
.portfolio :nth-child(4){
  color: #9aa0ab;
}


h3 + p {
  font-weight:bold;
  color:#f0454c;
}

article :nth-child(3){
  color:#9aa0ab;
  font-size:
}

h2:before{
  content: "";
  position:absolute;
  border-top: 5px solid red;
  width: 48px;
  top:-20px;
}


h2{
  position: relative;
}
