/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header{
  background-image: url("../images/header.jpg");
  background-size:cover;
  height: 1000px;
  display: block;
}


header h1, p{
  color: #465065;
}

.debut:before{
  content: "";
  border-top: 8px solid red;
  position: absolute;
  width: 70px;
  top: 245px;

}

.debut{
  display: block;
  padding-top: 220px;
  padding-left: 210px;
  position: relative;
}

.tete{
  display: flex;
  color: white;
/*  width: 100px;*/
  justify-content: center;
}

header p:first-child{
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: Montserrat;
  background-color: #f0454c;
  padding:15px 15px ;
  border-radius: 5px;
  margin: 0 220px 20px 150px;


}

nav  {
  display: flex;
  text-transform: uppercase;
  padding: 15px;
  margin-left: 85px;
  padding-top: 10px;
}

a{
  text-decoration: none;
  padding: 20px;
  color: black;
}

header .fa-twitter, header .fa-facebook{
  color: red;
}

span{
  display: block;
}

h1{
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 40px;
  position: relative;
  padding-top: 30px;
}


h1 + p{
  position: relative;
}

.read{
  background-color: #f0454c;
  color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  text-transform: uppercase;


}

/*css header au dessus*/

main{
  width:940px;
  max-width: 100%;
  margin: 40px auto 0;
  /*background-color: pink;*/
}

.conteneur{
  display: flex;
}

h2{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}

.premiere{
  margin-right: 25px;
}

/*css 2eme div en bas*/

.element{
  display: flex;
  margin-top: 80px;
}

.portfolio{
  margin-left: 60px;
  margin-top: 45px;
  margin-bottom: 30px;

}


/* CSS 3em div en bas*/


.team > p {
  color: #9aa0ab;
}

.notitle{
  display: flex;
  margin:40px 0 35px;
}

.colonne{
  display: flex;
}

.colonne p{
  font-size: 14px;
}

.colonne img{
  border-radius: 50%;
}

article{

  width: 173.3px;
}

aside{
  width: 140px;
}

/* css footer en bas*/

footer{
  color: #b9c0c6;
  height: 100px;
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .icon a {
  color:#b9c0c6;
}

.icon a:hover {
  color: black;
}


.icon :nth-child(1), :nth-child(2), :nth-child(3) {
  padding-right: 5px;
}


/*CSS des titres et after et before*/




h2, h3{
  color: #465065;
  font-weight: bold;
}

.portfolio > p {
  color: #465065;
}

.portfolio :nth-child(3){
  color: #9aa0ab;
}
.portfolio :nth-child(4){
  color: #9aa0ab;
}


h3 + p {
  font-weight:bold;
  color:#f0454c;
}

article :nth-child(3){
  color:#9aa0ab;
  font-size:
}

h2:before{
  content: "";
  position:absolute;
  border-top: 5px solid red;
  width: 48px;
  top:-20px;
}


h2{
  position: relative;
}

h3{
  text-transform: uppercase;
}

.more {
  text-transform: uppercase;
  padding: 0;
  color:#f0454c;
}

.portfolio h2, .team h2 {
  font-family: Montserrat;
  font-size: 27px;
}

.premiere p {
  background: linear-gradient( to bottom,#465065 ,#9aa0ab ,#b9c0c6 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

a:hover{
  color: black;
}

.single{
  float: right;
  margin-bottom: 60px;
}
